<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>tlEx03</title>
</head>
<body>
	<!-- 
	! th:each 예제
	- th:each를 이용하면 자바의 for문처럼 반복문 사용할 수 있음
	- 전달받은 itemDtoList에 있는 데이터를 하나씩 꺼내와 ItemDto에 담음
	 -->
	<h1>상품 리스트 출력 예제 - th:each</h1>
	<table border="1">
		<thead>
			<tr>
				<td>순번</td>
				<td>상품명</td>
				<td>상품설명</td>
				<td>가격</td>
				<td>상품 등록일</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemDto, status:${itemDtoList}">
				<!-- 현재 순회하고 있는 데이터의 인덱스 출력 -->
				<td th:text="${status.index+1}"></td>
				<!-- status.index:기본 제공 기능 >> 자동으로 인덱스값 지정됨 -->
				<td th:text="${itemDto.itemNm}"></td>
				<td th:text="${itemDto.itemDetail}"></td>
				<td th:text="${itemDto.price}"></td>
				<td th:text="${itemDto.regTime}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>